# Default Setup
USERNAME=YOURID 
PASSWORD=YOUR_PASSWORD
COUNT=5

# For Notifications
TELEGRAM_BOT_TOKEN=YOUR_TELEGRAM_BOT_TOKEN
TELEGRAM_CHAT_ID=YOUR_TELEGRAM_CHAT_ID
TELEGRAM_SENDER_SERVER=GitHub Actions lottery-bot
SLACK_WEBHOOK_URL=YOUR_SLACK_WEBHOOK_URL
DISCORD_WEBHOOK_URL=YOUR_DISCORD_WEBHOOK_URL
